# DB 설정
DB_ROOT_PASSWORD=
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST_PORT=3306
DB_CONTAINER_PORT=3306

# AI 설정
GEMINI_API_KEY=
GEMINI_LOCATION=us-central1
GEMINI_PROJECT_ID=

# local
TRIPE_API_URL=http://localhost:8080
FRONT_API_URL=http://localhost:5173
VITE_HOST_PORT=5173
VITE_CONTAINER_PORT=5173
API_HOST_PORT=8080
API_CONTAINER_PORT=8080

#.env.dev
#.env.prod
# 파일 별개 생성 후 목적에 맞게 환경변수 삽입